@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body{
    background-color: #ddd;
}

.product-img{
    height: 150px;
    width: 80px;
}
